@model DAL.ViewModel.SalesReport_VM
@{
    ViewData["Title"] = "SalesReport";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <section id="horizontal-form-layouts">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title" id="horz-layout-basic">Sales Invoice</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="px-3">
                                <form id="form" class="form form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="From">
                                            From
                                            :
                                        </label>
                                        <div class="col-md-9">
                                            <select id="From" onblur="CheckeFromDate()" asp-for="From" class="form-control">
                                                <option value="-1">Choose Date</option>
                                                @foreach (var item in ViewBag.From)
                                                {
                                                    <option class="form-control" value="@item.Date">@item.DateName</option>
                                                }
                                            </select>
                                            <span id="SpanFrom" asp-validation-for="From" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="To">
                                            To
                                            :
                                        </label>
                                        <div class="col-md-9">
                                            <select id="To" onblur="CheckeToDate()" asp-for="To" class="form-control">
                                                <option value="-1">Choose Date</option>
                                            </select>
                                            <span id="SpanTo" asp-validation-for="To" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-actions">
                                        <button type="button" id="Cancel" class="btn btn-danger mr-1">
                                            <i class="icon-trash"></i> Cancel
                                        </button>
                                        <button type="button" id="add" class="btn btn-success" onclick="LoadData(1)">
                                            <i class="icon-note"></i> Save
                                        </button>
                                    </div>


                                </form>
                            </div>
                        </div>
                        <table id="tblStudent" class="table table-striped table-bordered zero-configuration mt-40" hidden >
                            <thead>
                                <tr>
                                    <th class="text-center w-25">Date</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Client </th>
                                    <th class="text-center">Specy</th>
                                    <th class="text-center">Selling Price</th>
                                    <th class="text-center">Quintity</th>
                                    <th class="text-center">Percentage Discount </th>
                                    <th class="text-center">Value Discount</th>
                                    <th class="text-center">The Net</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>

                        </table>
                        <nav>
                            <ul class="pagination justify-content-center">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

@section Scripts  {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script>


    $("#From").change(function () {
        $("#To").empty();
        $("#To").append("<option value='-1'>Choose Date</option>");

        var From = $("#From").val();

        $.ajax({
            type: "POST",
            url: "/Home/GeToDataByFromDate",
            data: { From: From },
            success: function (res) {

                $.each(res, function (i, e) {

                    $("#To").append("<option value='" + e.date + "'>" + e.dateName + "</option>");

                });

            }

        });

    });

    function LoadData(pageNumber) {
        CheckeFromDate();
        CheckeToDate();
        if ($("#From").val() == -1 || $("#From").val() == null || $("#To").val() == -1 || $("#To").val() == null) {
            CheckeFromDate();
            CheckeToDate();
            $("#tblStudent").hide();

        }
        else {
            let From = $("#From").val();
            let To = $("#To").val();
            $("#tblStudent").show();
            $("#tblStudent").removeAttr("hidden");
            $("#tblStudent tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '/Home/LoadData?PageNumber=' + pageNumber + '&PageSize=' + 10 + '&from=' + From + '&to=' + To,
                dataType: 'json',
                data: { id: '' },
                success: function (res) {
                    $('.pagination').empty();
                    $('#tblStudent tbody').empty();
                    $.each(res.data, function (i, item) {
                        var rows = "<tr id='tr_" + item.salesInvoceId + "'>"
                            + "<td class='text-center'>" + item.date.substring(0, 10) + "</td>"
                            + "<td class='text-center'>" + item.salesInvoceId + "</td>"
                            + "<td class='text-center'>" + item.clientName + "</td>"
                            + "<td class='text-center'>" + item.categoryName + "</td>"
                            + "<td class='text-center'>" + item.sellingPrice + "</td>"
                            + "<td class='text-center'>" + item.quantity + "</td>"
                            + "<td class='text-center'>" + item.percentageDiscount + "</td>"
                            + "<td class='text-center'>" + item.valueDiscount + "</td>"
                            + "<td class='text-center'>" + item.net + "</td>"
                            + "</tr>";
                        $('#tblStudent tbody').append(rows);
                    });
                    PaggingTemplate(res.totalPages, res.currentPage);
                },
                error: function (ex) {
                    swal("Error!", "Can't load Date!", "error");
                }
            });
            return false;
        }
    }

    function CheckeFromDate() {
        $('#SpanFrom').text("");
        if ($("#From").val() == -1 || $("#From").val() == null) {
            $('#SpanFrom').text("DATE is Required");
            $("#tblStudent").hide();
        }
    };
    function CheckeToDate() {
        $('#SpanTo').text("");
        if ($("#To").val() == -1|| $("#To").val() == null) {
            $('#SpanTo').text("DATE is Required");
            $("#tblStudent").hide();

        }
    };


    function PaggingTemplate(totalPage, currentPage) {

        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();


        var countIncr = 1;
        if (currentPage != 1) {

            for (var i = currentPage - 1; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage - 1;
                if (PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        else {
            for (var i = currentPage; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage;
                if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        template = template + '<li class="page-item page-indicator">' +
            '<a onclick="LoadData(' + BackwardOne + ')" class="page-link" href = "javascript:void()" >' +
            '<i class="la la-angle-left"></i></a ></li >';



        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            if (PageNumberArray[i] == currentPage) {

                numberingLoop = numberingLoop + ' <li class="page-item active"><a onclick="LoadData(' + PageNumberArray[i] + ')" class="page-link" href="javascript:void()">' + PageNumberArray[i] + '</a></li>'

            }
            else {
                numberingLoop = numberingLoop + ' <li class="page-item "><a onclick="LoadData(' + PageNumberArray[i] + ')" class="page-link" href="javascript:void()">' + PageNumberArray[i] + '</a></li>'
            }

        }
        template = template + numberingLoop + '<li class="page-item page-indicator">' +
            '<a onclick="LoadData(' + ForwardOne + ')" class="page-link" href = "javascript:void()" >' +
            '<i class="la la-angle-right"></i></a ></li >';

        $(".pagination").append(template);


    }

    $("#Cancel").click(function () {
        $("#tblStudent").hide();
        document.getElementById("form").reset();
        $('#SpanTo').text(" ");
        $('#SpanFrom').text(" ");
    })
</script>