@model DAL.ViewModel.Category_VM
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}





<h1>AddSpecy</h1>



<div class="content-wrapper">
    <div class="container-fluid">

        <section id="horizontal-form-layouts">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title" id="horz-layout-basic">Species Data Form</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="px-3">
                                <form id="form" class="form form-horizontal" asp-action="AddCategory" asp-controller="Category">

                                    <input type="number" hidden id="id" class="form-control" asp-for="CategoryId">

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="CompanyId">Company Name: </label>
                                        <div class="col-md-9">
                                            <select id="CompanyId" asp-for="CompanyId" class="form-control" onblur="CheckeCategoryCompany()">
                                                <option value="-1">Choose Company</option>
                                                @foreach (var item in ViewBag.Company)
                                                {
                                                    <option class="form-control" value="@item.CompanyId">@item.CompanyName</option>
                                                }

                                            </select>
                                            <span id="span1" asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="CompanyId">Specy Name: </label>
                                        <div class="col-md-9">
                                            <select id="SpecyId" asp-for="SpecyId" class="form-control" onblur="CheckeCategorySpecy()">
                                                <option value="-1">Choose Specy</option>
                                                @foreach (var item in ViewBag.Specy)
                                                {
                                                    <option class="form-control" value="@item.SpecyId">@item.SpecyName</option>
                                                }

                                            </select>
                                            <span id="span2" asp-validation-for="SpecyId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="ItemName">Item Name : </label>
                                        <div class="col-md-9">
                                            <input type="text" id="ItemName" onblur="CheckeItemName()" class="form-control" asp-for="ItemName">
                                            <span id="span" asp-validation-for="ItemName" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="SellingPrice">Selling Price : </label>
                                        <div class="col-md-9">
                                            <input type="number" step="0.01" id="SellingPrice" onblur="CheckeSellingAndBuing() " class="form-control" asp-for="SellingPrice" min="0" required value="">
                                            <span id="spanSellingPrice" asp-validation-for="SellingPrice" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="ByingPrice">Bying Price : </label>
                                        <div class="col-md-9">
                                            <input type="number" step="0.01" id="ByingPrice" onblur="CheckeSellingAndBuing() " class="form-control" asp-for="ByingPrice" min="0" required value="">
                                            <span id="spanByingPrice" asp-validation-for="ByingPrice" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="Note">Notes: </label>
                                        <div class="col-md-9">
                                            <textarea id="Note" rows="5" class="form-control" asp-for="Note"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" id="Cancel" class="btn btn-danger mr-1">
                                            <i class="icon-trash"></i> Cancel
                                        </button>
                                        <button type="button" id="add" class="btn btn-success" onclick="Create()">
                                            <i class="icon-note"></i> Save
                                        </button>
                                        <button type="button" style="display:none" id="edit" class="btn btn-success" onclick="Update()">
                                            <i class="icon-note"></i> Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <table id="tblStudent" class="table table-striped table-bordered zero-configuration mt-40">
                                <thead>
                                    <tr>
                                        <th class="text-center">Company</th>
                                        <th class="text-center">Specy</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Selling Price </th>
                                        <th class="text-center">Bying Price </th>
                                        <th class="text-center">Note </th>
                                        <th class="text-center">Eite</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                            <nav>
                                <ul class="pagination justify-content-center">
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

@section Scripts  {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
    $(document).ready(function () {
        LoadData(1);
    });
    function Create() {
        CheckeCategoryCompany();
        CheckeCategorySpecy();
        CheckeSellingAndBuing();
        CheckeItemName();
        CheckeSelling();
        CheckeBuying();
        event.preventDefault();
        if ($("#ItemName").val() == "" || $("#ItemName").val() == null || $("#SellingPrice").val() < $("#ByingPrice").val() || $("#SpecyId").val() == -1 || $("#CompanyId").val() == -1 || $("#SellingPrice").val() < 0 || $("#ByingPrice").val() < 0 || $("#SellingPrice").val() == "" || $("#ByingPrice").val() == "" || $("#SellingPrice").val() < $("#ByingPrice").val()) {
            CheckeItemName();
        }
        else {
            let CategoryId = $("#id").val();
            let ItemName = $("#ItemName").val();
            let CompanyName = $("#CompanyId option:selected").text();;
            let CompanyId = $("#CompanyId").val();
            let SpecyName = $("#SpecyId option:selected").text();;
            let SpecyId = $("#SpecyId").val();
            let SellingPrice = $("#SellingPrice").val();;
            let ByingPrice = $("#ByingPrice").val();
            let Note = $("#Note").val();
            var Category = {
                CompanyId: CompanyId,
                SpecyId: SpecyId,
                ItemName: ItemName,
                Note: Note,
                SellingPrice: SellingPrice,
                ByingPrice: ByingPrice,
            };
            $.ajax({
                type: "POST",
                url: "/Category/AddCategory",
                data: Category,
                success: function (res) {
                    if (res.status_code == 0) {
                        $('#add').show();
                        $('#edit').hide();
                        swal("Success!", res.message, "success").then((ok) => {
                            document.getElementById("form").reset();
                            $.each(res.data, function (i, item) {
                                var rows = "<tr id='tr_" + item.categoryId + "'>"
                                    + "<td class='text-center'>" + CompanyName + "</td>"
                                    + "<td class='text-center'>" + SpecyName + "</td>"
                                    + "<td class='text-center'>" + ItemName + "</td>"
                                    + "<td class='text-center'>" + SellingPrice + "</td>"
                                    + "<td class='text-center'>" + ByingPrice + "</td>"
                                    + "<td class='text-center'>" + Note + "</td>"
                                    + '<td class="text-center" ><a onclick="Edit(' + item.categoryId + ')"  class="btn btn-success mb-2">Edit</a></td >'
                                    + '<td class="text-center" ><a onclick="Delete(' + item.categoryId + ')" class="btn btn-danger mb-2" >Delete</a></td >'
                                    + "</tr>";
                                $('#tblStudent tbody').append(rows);
                            });
                        });
                    }
                    else {
                        swal("Error!", res.message, "error");
                    }
                },
                error: function (res) {
                    swal("Error!", " Cheack Your Date!", "error");
                }

            });
        }

    };

    function Update() {
        CheckeCategoryCompany();
        CheckeCategorySpecy();
        CheckeSellingAndBuing();
        CheckeItemName();
        CheckeSelling();
        CheckeBuying();
        event.preventDefault();

        if ($("#ItemName").val() == "" || $("#ItemName").val() == null || $("#SellingPrice").val() < $("#ByingPrice").val() || $("#SpecyId").val() == -1 || $("#CompanyId").val() == -1 || $("#SellingPrice").val() < 0 || $("#ByingPrice").val() < 0 || $("#SellingPrice").val() == "" || $("#ByingPrice").val() == "" || $("#SellingPrice").val() < $("#ByingPrice").val()) {
            CheckeItemName();
        }
        else {
            let CategoryId = $("#id").val();
            let ItemName = $("#ItemName").val();
            let CompanyName = $("#CompanyId option:selected").text();;
            let CompanyId = $("#CompanyId").val();
            let SpecyName = $("#SpecyId option:selected").text();;
            let SpecyId = $("#SpecyId").val();
            let SellingPrice = $("#SellingPrice").val();;
            let ByingPrice = $("#ByingPrice").val();
            let Note = $("#Note").val();
            var Category = {
                CategoryId: CategoryId,
                CompanyId: CompanyId,
                SpecyId: SpecyId,
                ItemName: ItemName,
                Note: Note,
                SellingPrice: SellingPrice,
                ByingPrice: ByingPrice,
            };
            $.ajax({
                type: "POST",
                url: "/Category/UpdateCategory",
                data: Category,
                success: function (res) {
                    if (res.status_code == 0) {
                        $('#add').show();
                        $('#edit').hide();
                        swal("Success!", res.message, "success").then((ok) => {
                            document.getElementById("form").reset();
                            $('#tr_' + CategoryId).remove();
                            var rows = "<tr id='tr_" + CategoryId + "'>"
                                + "<td class='text-center'>" + CompanyName + "</td>"
                                + "<td class='text-center'>" + SpecyName + "</td>"
                                + "<td class='text-center'>" + ItemName + "</td>"
                                + "<td class='text-center'>" + SellingPrice + "</td>"
                                + "<td class='text-center'>" + ByingPrice + "</td>"
                                + "<td class='text-center'>" + Note + "</td>"
                                + '<td class="text-center" ><a onclick="Edit(' + CategoryId + ')"  class="btn btn-success mb-2">Edit</a></td >'
                                + '<td class="text-center" ><a onclick="Delete(' + CategoryId + ')" class="btn btn-danger mb-2" >Delete</a></td >'
                                + "</tr>";
                            $('#tblStudent tbody').append(rows);
                        });
                    }
                    else {
                        swal("Error!", res.message, "error");
                    }
                },
                error: function (res) {
                    swal("Error!", " Cheack Your Date!", "error");
                }
            });
        }

    };

    function LoadData(pageNumber) {
        $("#tblStudent tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '/Category/LoadData?PageNumber=' + pageNumber + '&PageSize=' + 10,
            dataType: 'json',
            data: { id: '' },
            success: function (res) {
                $('.pagination').empty();
                $('#tblStudent tbody').empty();
                $.each(res.data, function (i, item) {
                    var rows = "<tr id='tr_" + item.categoryId + "'>"
                        + "<td class='text-center'>" + item.companyName + "</td>"
                        + "<td class='text-center'>" + item.specyName + "</td>"
                        + "<td class='text-center'>" + item.itemName + "</td>"
                        + "<td class='text-center'>" + item.sellingPrice + "</td>"
                        + "<td class='text-center'>" + item.byingPrice + "</td>"
                        + "<td class='text-center'>" + item.note + "</td>"
                        + '<td class="text-center" ><a onclick="Edit(' + item.categoryId + ')"  class="btn btn-success mb-2">Edit</a></td >'
                        + '<td class="text-center" ><a onclick="Delete(' + item.categoryId + ')" class="btn btn-danger mb-2" >Delete</a></td >'
                        + "</tr>";
                    $('#tblStudent tbody').append(rows);
                });
                PaggingTemplate(res.totalPages, res.currentPage);
            },
            error: function (ex) {
                swal("Error!", "Can't load Date!", "error");
            }
        });
        return false;
    }

    function Delete(id) {
        $('#span').text(" ");
        $('#span1').text(" ");
        $('#span2').text(" ");
        $('#spanSellingPrice').text(" ");
        $('#spanByingPrice').text(" ");
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'POST',
                        url: '/Category/DeleteCategory/' + id,
                        success: function (res) {
                            if (res.status_code == 0) {
                                $("#edit").hide();
                                $("#add").show();
                                document.getElementById("form").reset();
                                $('#span').text(" ");
                                $('#span1').text(" ");
                                $('#span2').text(" ");
                                $('#spanSellingPrice').text(" ");
                                $('#spanByingPrice').text(" ");
                                swal(res.message, {
                                    icon: "success",
                                });
                                $('#tr_' + id).remove();
                            }
                            else {
                                swal("Error!", res.message, "error");
                            }
                        },
                    });
                } else {
                    swal("Your imaginary file is safe!", {
                        icon: "error",
                    });
                }
            });
    };

    function Edit(id) {
        $('#span').text(" ");
        $('#span1').text(" ");
        $('#span2').text(" ");
        $('#spanSellingPrice').text(" ");
        $('#spanByingPrice').text(" ");
        document.getElementById("form").reset();
        $.ajax({
            type: "POST",
            url: "/Category/EditCategory/" + id,
            success: function (res) {
                if (res.status_code == 0) {
                    $('#add').hide();
                    $('#edit').show();
                    $.each(res.data, function (i, item) {
                        $('#id').val(item.categoryId);
                        $('#CompanyId').val(item.companyId);
                        $('#ItemName').val(item.itemName);
                        $('#SpecyId').val(item.specyId);
                        $('#SellingPrice').val(item.sellingPrice);
                        $('#ByingPrice').val(item.byingPrice);
                        $('#Note').val(item.note);
                    });
                }
                else {
                    $('#add').show();
                    $('#edit').hide();
                    swal("Error!", res.message, "error");
                }

            },
            error: function (res) {
                swal("Error!", " Cheack Your Date!", "error");
            }
        });
    };

    function CheckeCategoryCompany() {
        $('#span1').text(" ");
        if ($("#CompanyId").val() == "-1") {
            $('#span1').text("COMPANY NAME is Required");
        }
    };

    function CheckeCategorySpecy() {
        if ($("#SpecyId").val() == "-1") {
            $('#span2').text("SPECY NAME is Required");
        }
    };

    function CheckeItemName() {
        $('#span').text(" ");
        let CategoryId = $("#id").val();
        let ItemName = $("#ItemName").val();
        let CompanyName = $("#CompanyId option:selected").text();
        let CompanyId = $("#CompanyId").val();
        let SpecyName = $("#SpecyId option:selected").text();
        let SpecyId = $("#SpecyId").val();
        let SellingPrice = $("#SellingPrice").val();;
        let ByingPrice = $("#ByingPrice").val();
        let Note = $("#Note").val();
        var Category = {
            CategoryId: CategoryId,
            CompanyId: CompanyId,
            CompanyName: CompanyName,
            SpecyId: SpecyId,
            ItemName: ItemName,
            SpecyName: SpecyName,
            Note: Note,
            SellingPrice: SellingPrice,
            ByingPrice: ByingPrice,
        };
        $.ajax({
            type: "POST",
            url: "/Assist/CheckeItemName/",
            data: Category,
            success: function (res) {
                if (res.status_code == 0) {
                    $('#span').text(" ");
                }
                else {
                    $('#span').text(res.message);
                }
            },
            error: function (res) {
                swal("Error!", " Cheack Your Date!", "error");
            }
        });
    };

    function CheckeSellingAndBuing() {
        if ($("#SellingPrice").val() == "" || $("#ByingPrice").val() == "") {
            CheckeBuying();
            CheckeSelling;
        }
        else {
            if ($("#SellingPrice").val() < $("#ByingPrice").val()) {
                $('#spanByingPrice').text("BUYING PRICE Must be less than or equal SELLING PRICE");
            }
        }
    };

    function CheckeSelling() {
        if ($("#SellingPrice").val() == "") {
            $('#spanSellingPrice').text("SELLING PRICE is Required");
        }
        else {
            CheckeSellingAndBuing();
            $('#spanByingPrice').text(" ");
        }
    };

    function CheckeBuying() {
        if ($("#ByingPrice").val() == "") {
            $('#spanByingPrice').text("BUYING PRICE is Required");
        }
        else {
            CheckeSellingAndBuing();
            $('#spanByingPrice').text(" ");

        }
    };

    function PaggingTemplate(totalPage, currentPage) {

        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();


        var countIncr = 1;
        if (currentPage != 1) {

            for (var i = currentPage - 1; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage - 1;
                if (PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        else {
            for (var i = currentPage; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage;
                if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        template = template + '<li class="page-item page-indicator">' +
            '<a onclick="LoadData(' + BackwardOne + ')" class="page-link" href = "javascript:void()" >' +
            '<i class="la la-angle-left"></i></a ></li >';



        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            if (PageNumberArray[i] == currentPage) {

                numberingLoop = numberingLoop + ' <li class="page-item active"><a onclick="LoadData(' + PageNumberArray[i] + ')" class="page-link" href="javascript:void()">' + PageNumberArray[i] + '</a></li>'

            }
            else {
                numberingLoop = numberingLoop + ' <li class="page-item "><a onclick="LoadData(' + PageNumberArray[i] + ')" class="page-link" href="javascript:void()">' + PageNumberArray[i] + '</a></li>'
            }

        }
        template = template + numberingLoop + '<li class="page-item page-indicator">' +
            '<a onclick="LoadData(' + ForwardOne + ')" class="page-link" href = "javascript:void()" >' +
            '<i class="la la-angle-right"></i></a ></li >';

        $(".pagination").append(template);


    }

    $("#Cancel").click(function () {
        $("#edit").hide();
        $("#add").show();
        document.getElementById("form").reset();
        $('#span').text(" ");
        $('#span1').text(" ");
        $('#span2').text(" ");
        $('#spanSellingPrice').text(" ");
        $('#spanByingPrice').text(" ");
    })
</script>


